<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <style>
            body{
                text-align: center;
                background: #000;
                font-family: Arial, Helvetica, sans-serif;
            }
            .logo{
                width: 80px;
                margin: 20px auto 10px;
            }

            .avatar{
                margin: 20px auto;
                width: 200px;
                border-radius: 0.275rem;
                box-shadow: 5px 8px 20px 0px rgba(0,0,0,0.15);
            }
            button {
                background: white;
                color: black;
                padding: 15px 50px;
                border: none;
                outline: none;
                font-size: 1.5rem;
                cursor: pointer;
            }

            button:hover{
                opacity: 0.88;
            }

            button:active{
                opacity: 0.95;
            }
            .profile{
                line-height: 1.5rem;
                color: white;
            }
        </style>
    </head>
    <body>
        <img class="logo" src="https://d1a3f4spazzrp4.cloudfront.net/uber-com/1.2.20/d1a3f4spazzrp4.cloudfront.net/images/uber-serp-logo-f6e7549c89.jpg">
        <br/>
        <div class="profile">
            <h2>Start a trip?</h2>
        </div>
        <button onclick="request()">Request a sandUber</button>

        <script>
            let linkURI;
            navigator.geolocation.getCurrentPosition(function(position) {
                if(position){
                    var coords = document.createElement('div');
                    coords.innerHTML = JSON.stringify(position.coords);
                    document.body.appendChild(coords);
                }
                linkURI = `/api/request?lat=${position.coords.latitude}&long=${position.coords.longitude}`;
            })
            function request(){
                console.log(linkURI)
                $.post(linkURI, function(err, res){
                    console.log(res.data)
                })
            }
        </script>
    </body>
</html>