<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <style>
            body{
                text-align: center;
                background: #000;
                font-family: Arial, Helvetica, sans-serif;
            }
            .logo{
                width: 80px;
                margin: 20px auto 10px;
            }

            .avatar{
                margin: 20px auto;
                width: 200px;
                border-radius: 0.275rem;
                box-shadow: 5px 8px 20px 0px rgba(0,0,0,0.15);
            }
            button {
                background: white;
                color: black;
                padding: 15px 50px;
                border: none;
                outline: none;
                font-size: 1.5rem;
                cursor: pointer;
            }

            button:hover{
                opacity: 0.88;
            }

            button:active{
                opacity: 0.95;
            }
            .profile{
                line-height: 1.5rem;
                color: white;
            }
        </style>
    </head>
    <body>
        <img class="logo" src="http://i.imgur.com/4Yk27sG.png">
        <br/>
        <img class="avatar" src="<%=picture%>"/>
        <div class="profile">
            Hey <%=first_name%>
            <br/>
            You are now logged in!
        </div>
    </body>
</html>